* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}   

body {
    background-color: black;
    position: relative;
    
}

/* AQUI VA EL NAV*/

.main-nav {
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2% 8%;
    border-radius: 1.5rem;

}
.nav li a {
   background-color: black;
   color: white;
   text-decoration: none;
   padding: 1rem 1.5rem;
   display: block;
   padding: 1rem 4rem;
}
.nav li a:hover {
    color: silver;
}
.nav li a:active {
    color: gold;
}
.main-nav img{
    height: 20%;
    width: 20%;
    position: flex;
    margin: 2.5% 43.3%;
    background-color: none;
    


}   
ul, ol {
    list-style: none;
}
.nav > li {
    float: left;
}
.nav {
    font-size: 3rem;
    display: inline-block;
    margin:auto;
    justify-content: center;
    text-align: center;
    
}
.nav li ul {
    display:none;
    position: absolute;
    min-width: 10REM;
    font-size: 3rem;
}
.nav li:hover > ul {
    display: block;
}
.checkbtn {
    font-size: 3rem;
    color:black;
    float: right;
    margin-right: 1rem;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@media ( max-width: 575px) {
    .checkbtn{
        display: block;
    }
    .nav {
        position: fixed;
        width: 60%;
        height: 100vh;
        background-color: black;
        left: -100vh;
        top: 0;
        transition: all .5s;
    }
    .main-nav img{
        height: 20%;
        width: 20%;
        position: flex;
        margin: 2.5% 43.3%;
        background-color: none;
        
}
div ul li {
display: block;
line-height: 4rem;
margin: 0rem 0;
}
div ul li a {
    font-size: 2rem;
}
li a:hover, li a:active {
    background: black;
    color: red;
}
#check:checked ~ul {
    left: 0;
}
}
/* AQUI ABAJO VA EL MAIN*/
.main {
    background-color: white;
    font-size: 9vw ;
    margin: 3% 4%;
    border-radius: 0.5rem;
    text-align: center;
    padding-bottom: 20vh;
}
.ul {
    column-count:3;
}
.ul img {
  
  width: 80%;
}
figcaption {
    color: white;
    
}

.sec1 {
    margin: 1% 3%;
    background-color: black;

    
}
footer {
    display: flex;
    margin: 2% 35% 2% ;
    
}
.fot{
    font-size: 7vw;
    display: inline-block;
    margin:auto;
    justify-content: center;
    text-align: center;
    
}

   


